/* Tiempos Headline */
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../assets/fonts/TiemposHeadline-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

